@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: normal;
}

body {
    font-family: $font-family-body;
    font-size: $font-size-body;
    background-color: $background-color;
}

.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}
